body {
    font-family: 'Georgia', serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
    
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5em;
    color: #4a4a4a;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  button {
    background: linear-gradient(45deg, #6a11cb 0%, #2575fc 100%);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 5px;
    transition: transform 0.2s;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    transform: scale(1.05);
  }
  
  .input-container {
    text-align: center;
    margin: 20px 0;
  }
  
  input[type="text"] {
    width: 20%;
    padding: 10px;
    margin: 5px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="text"]:focus {
    border: 2px solid #6a11cb;
  }
  
  